.scene-outer { margin-left: 400px; position: fixed; }
.scene { position: relative; }
.scene .label {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: white;
  font-size: 200%;
  font-weight: bold;
  bottom: 10px;
}
ul { float: left; }